:root {
  --primary-color: #17a2b8;
  --danger-color: #dc3545;
  --success-color: #28a745;
}
.containere {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.text-primary {
  color: var(--primary-color);
}

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.form .form-group {
  margin: 1.2rem 0;
}

.btn {
  display: inline-block;

  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}
.btn-secondary {
  background: green;
  color: white;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
  display: block;
  width: 90%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

.lead {
  display: flex;
}

.lead > span {
  margin-right: 20px;
}

.alert {
  padding: 0.8rem;
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: #333;
}
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}
.alert-success {
  background: var(--success-color);
  color: #fff;
}
