.fileupload {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.upload_buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout_right {
  position: absolute;
  top: 20px;
  right: 30px;
}
.logout_right > a {
  padding: 10px;
  font-size: large;
  color: black;
  text-decoration: none;
}

.logout_right:hover {
  background: white;
  transition: 200ms ease-in;
  transform: scale(1.2);
}
